<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1"/>
      <title>Internationalization</title>
   </head>
   <body>
   <th:block xmlns:th="http://www.thymeleaf.org">
      <h1 th:text = "#{welcome.Tes}"></h1>
      </th:block>
   </body>
</html>